<div class="topContainer">
    <app-list-errors></app-list-errors>
    <div class="row alignment_body height">
        <div class="col-sm-12 col-xs-12 col-md-12 main">
            <span *ngIf="!isDataAvailable && !isFormAvailable">You don't have any assets. Please add the assets.</span>
            <button class="btn btn-primary pull-right" *ngIf="!isFormAvailable" (click)="showForm()">Add Asset</button>
            <h3 class="sub-header" *ngIf="isDataAvailable && !isFormAvailable">List Of Assets</h3>
            <ag-grid-angular *ngIf="isDataAvailable && !isFormAvailable" #agGrid style="width: 1050px; height: 500px;" class="col-sm-12 col-xs-12 col-md-12 main ag-theme-blue" [rowData]="assetData" [columnDefs]="columnDefs" [enableSorting]="true" [enableFilter]="true"
                (rowClicked)="onRowClicked($event)">
            </ag-grid-angular>
            <form name="assetForm" #f="ngForm" novalidate *ngIf="isFormAvailable">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                    <label for="name">Name of the Asset</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                    <div *ngIf="f.submitted && !name.valid" class="help-block">Name of the Asset is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !value.valid }">
                    <label for="value">Value of the Asset</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="value" [(ngModel)]="model.value" #value="ngModel" required />
                    <div *ngIf="f.submitted && !value.valid" class="help-block">Value of the Asset is required.</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !depreciationRate.valid }">
                    <label for="depreciationRate">Depreciation Rate</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="depreciationRate" [(ngModel)]="model.depreciationRate" #depreciationRate="ngModel" required />
                    <div *ngIf="f.submitted && !depreciationRate.valid" class="help-block">Depreciation Rate is required.</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !promoterMargin.valid }">
                    <label for="promoterMargin">Promoter's Margin</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="promoterMargin" [(ngModel)]="model.promoterMargin" #promoterMargin="ngModel" required />
                    <div *ngIf="f.submitted && !promoterMargin.valid" class="help-block">Promoter's Margin is required</div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary" [disabled]="!f.form.valid" (click)="addAsset()">Submit</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                    <button [disabled]="loading" class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>