<app-header></app-header>
<div class="container">
    <app-list-errors></app-list-errors>
    <div class="col-md-6 col-md-offset-3 height">
        <h2 class="form-signin-heading">Please Enter Client Details</h2>
        <form name="clientForm" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !namePrefix.valid }">
                <label for="salutation">Salutation</label>
                <i class="fa fa-asterisk text-danger">*</i>
                <input type="radio" name="namePrefix" class="form-group" value="Mr" [(ngModel)]="model.namePrefix" #namePrefix="ngModel" required> Mr
                <input type="radio" name="namePrefix" class="form-group" value="Mrs" [(ngModel)]="model.namePrefix" #namePrefix="ngModel" required> Mrs
                <input type="radio" name="namePrefix" class="form-group" value="Ms" [(ngModel)]="model.namePrefix" #namePrefix="ngModel" required> Ms
                <input type="radio" name="namePrefix" class="form-group" value="M/S" [(ngModel)]="model.namePrefix" #namePrefix="ngModel" required> M/S
                <div *ngIf="f.submitted && !namePrefix.valid" class="help-block">Salutation is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                <label for="name">Name of the Client</label>
                <i class="fa fa-asterisk text-danger">*</i>
                <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !status.valid }">
                <label for="status">Client Status</label>
                <i class="fa fa-asterisk text-danger">*</i>
                <input type="radio" name="status" class="form-group" value="Propreitorship" [(ngModel)]="model.status" #status="ngModel" required> Propreitorship
                <input type="radio" name="status" class="form-group" value="Partnership" [(ngModel)]="model.status" #status="ngModel" required> Partnership
                <input type="radio" name="status" class="form-group" value="LmtCompany" [(ngModel)]="model.status" #status="ngModel" required> Limited Company
                <div *ngIf="f.submitted && !status.valid" class="help-block">Client Status is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !doorNo.valid }">
                <label for="doorNo">Door Number</label>
                <i class="fa fa-asterisk text-danger">*</i>
                <input type="text" class="form-control" name="doorNo" [(ngModel)]="model.doorNo" #doorNo="ngModel" required />
                <div *ngIf="f.submitted && !doorNo.valid" class="help-block">Door Number is required</div>
            </div>
            <div class="form-group">
                <label for="road">Road</label>
                <input type="text" class="form-control" name="road" [(ngModel)]="model.road" #road="ngModel" />
            </div>
            <div class="form-group">
                <label for="locality">Locality</label>
                <input type="text" class="form-control" name="locality" [(ngModel)]="model.locality" #locality="ngModel" />
            </div>
            <div class="form-group">
                <label for="landmark">Land Mark</label>
                <input type="text" class="form-control" name="landmark" [(ngModel)]="model.landmark" #landmark="ngModel" />
            </div>
            <div class="form-group">
                <label for="town">Town</label>
                <input type="text" class="form-control" name="town" [(ngModel)]="model.town" #town="ngModel" />
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pincode.valid }">
                <label for="pincode">Pincode</label>
                <i class="fa fa-asterisk text-danger">*</i>
                <input type="number" class="form-control" name="pincode" [(ngModel)]="model.pincode" #pincode="ngModel" minlength="7" maxlength="7" required />
                <div *ngIf="f.submitted && !pincode.valid" class="help-block">Pincode is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !state.valid && state !== '-1' }">
                <label for="state">State</label>
                <i class="fa fa-asterisk text-danger">*</i>
                <select class="form-control" name="state" [(ngModel)]="model.state" #state="ngModel">
                    <option value="-1">Select State</option>
                    <option value="{{state.name}}" *ngFor="let state of states | orderBy : 'name' : false">{{state.name}}</option>
                </select>
                <div *ngIf="f.submitted && !state.valid && state !== '-1'" class="help-block">State is required</div>
            </div>
            <div class="form-group">
                <label for="landphone">Land Phone</label>
                <input type="text" class="form-control" name="landphone" [(ngModel)]="model.landphone" #landphone="ngModel" />
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mobile.valid }">
                <label for="mobile">Mobile Number</label>
                <i class="fa fa-asterisk text-danger">*</i>
                <input type="number" class="form-control" name="mobile" [(ngModel)]="model.mobile" #mobile="ngModel" min-length="7" max-length="7" required />
                <div *ngIf="f.submitted && !mobile.valid" class="help-block">Mobile is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <label for="email">Email Address</label>
                <i class="fa fa-asterisk text-danger">*</i>
                <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
                <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required/invalid</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lineofactivity.valid }">
                <label for="lineofactivity">Industry</label>
                <i class="fa fa-asterisk text-danger">*</i>
                <input type="radio" name="lineofactivity" class="form-group" value="Manufacturing" [(ngModel)]="model.lineofactivity" #lineofactivity="ngModel" required> Manufacturing
                <input type="radio" name="lineofactivity" class="form-group" value="Service" [(ngModel)]="model.lineofactivity" #lineofactivity="ngModel" required> Service
                <div *ngIf="f.submitted && !lineofactivity.valid" class="help-block">Industry is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dateoffirstditributionoftermloan.valid }">
                <label for="dateoffirstditributionoftermloan">Anticipated date of first disbursement of proposed Term Loan</label>
                <i class="fa fa-asterisk text-danger">*</i>
                <input type="date" class="form-control" name="dateoffirstditributionoftermloan" [(ngModel)]="model.dateoffirstditributionoftermloan" #dateoffirstditributionoftermloan="ngModel" required />
                <div *ngIf="f.submitted && !dateoffirstditributionoftermloan.valid" class="help-block">Date of first Disbursement Term Loan is required.</div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary" [disabled]="!f.form.valid" (click)="addClient()">Submit</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <a [routerLink]="['/dashboard']" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>