<div class="topContainer">
    <app-list-errors></app-list-errors>
    <div class="row alignment_body height">
        <div class="col-sm-12 col-xs-12 col-md-12 main">
            <span *ngIf="!isDataAvailable && !isEdit">You don't have any details. Please add the details.</span>
            <button *ngIf="!isDataAvailable && !isEdit" class="btn btn-primary pull-right" (click)="showForm()">Add Growth and Inflation</button>
            <button *ngIf="isDataAvailable && !isEdit" class="btn btn-primary pull-right" (click)="showForm()">Edit</button>
            <!-- <h2 class="sub-header" *ngIf="isDataAvailable">List Of Clients</h2> -->
            <form name="growthAndInflationForm" #f="ngForm" novalidate *ngIf="isEdit">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !answer1.valid }">
                    <label for="answer1">Do you want to define growth and inflation rates?</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="radio" name="answer1" class="form-group" value="yes" [(ngModel)]="growthAndInflationData.answer1" #answer1="ngModel" required> Yes
                    <input type="radio" name="answer1" class="form-group" value="no" [(ngModel)]="growthAndInflationData.answer1" #answer1="ngModel" required> No
                    <div *ngIf="f.submitted && !answer1.valid" class="help-block">Name of the Bussiness is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !answer2.valid }">
                    <label for="answer2">Do yo want to define growth rate for each of the projected years?</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="radio" name="answer2" class="form-group" value="yes" [(ngModel)]="growthAndInflationData.answer2" #answer2="ngModel" required> Yes
                    <input type="radio" name="answer2" class="form-group" value="no" [(ngModel)]="growthAndInflationData.answer2" #answer2="ngModel" required> No
                    <div *ngIf="f.submitted && !answer2.valid" class="help-block">Name of the Bussiness is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !answer3.valid }">
                    <label for="answer3">Do yo want to define inflation rate for each of the projected years?</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="radio" name="answer3" class="form-group" value="yes" [(ngModel)]="growthAndInflationData.answer3" #answer3="ngModel" required> Yes
                    <input type="radio" name="answer3" class="form-group" value="no" [(ngModel)]="growthAndInflationData.answer3" #answer3="ngModel" required> No
                    <div *ngIf="f.submitted && !answer3.valid" class="help-block">Name of the Bussiness is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer2 == 'no'" [ngClass]="{ 'has-error': f.submitted && !growthForAllYears.valid }">
                    <label for="growthForAllYears">Please enter growth rate to be applied to all the years</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="growthForAllYears" [(ngModel)]="growthAndInflationData.growthForAllYears" #growthForAllYears="ngModel" required />
                    <div *ngIf="f.submitted && !growthForAllYears.valid" class="help-block">Growth rate for all years is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer2 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !growthYear1.valid }">
                    <label for="growthYear1">Please enter growth rate to be applied to the year 1</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="growthYear1" [(ngModel)]="growthAndInflationData.growthYear1" #growthYear1="ngModel" required />
                    <div *ngIf="f.submitted && !growthYear1.valid" class="help-block">Growth rate for all year1 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer2 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !growthYear2.valid }">
                    <label for="growthYear2">Please enter growth rate to be applied to the year 2</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="growthYear2" [(ngModel)]="growthAndInflationData.growthYear2" #growthYear2="ngModel" required />
                    <div *ngIf="f.submitted && !growthYear2.valid" class="help-block">Growth rate for all year2 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer2 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !growthYear3.valid }">
                    <label for="growthYear3">Please enter growth rate to be applied to the year 3</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="growthYear3" [(ngModel)]="growthAndInflationData.growthYear3" #growthYear3="ngModel" required />
                    <div *ngIf="f.submitted && !growthYear3.valid" class="help-block">Growth rate for all year3 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer2 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !growthYear4.valid }">
                    <label for="growthYear4">Please enter growth rate to be applied to the year 4</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="growthYear4" [(ngModel)]="growthAndInflationData.growthYear4" #growthYear4="ngModel" required />
                    <div *ngIf="f.submitted && !growthYear4.valid" class="help-block">Growth rate for all year4 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer2 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !growthYear5.valid }">
                    <label for="growthYear5">Please enter growth rate to be applied to the year 5</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="growthYear5" [(ngModel)]="growthAndInflationData.growthYear5" #growthYear5="ngModel" required />
                    <div *ngIf="f.submitted && !growthYear5.valid" class="help-block">Growth rate for all year5 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer2 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !growthYear6.valid }">
                    <label for="growthYear6">Please enter growth rate to be applied to the year 6</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="growthYear6" [(ngModel)]="growthAndInflationData.growthYear6" #growthYear6="ngModel" required />
                    <div *ngIf="f.submitted && !growthYear6.valid" class="help-block">Growth rate for all year6 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer2 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !growthYear7.valid }">
                    <label for="growthYear7">Please enter growth rate to be applied to the year 7</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="growthYear7" [(ngModel)]="growthAndInflationData.growthYear7" #growthYear7="ngModel" required />
                    <div *ngIf="f.submitted && !growthYear7.valid" class="help-block">Growth rate for all year7 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer2 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !growthYear8.valid }">
                    <label for="growthYear8">Please enter growth rate to be applied to the year 8</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="growthYear8" [(ngModel)]="growthAndInflationData.growthYear8" #growthYear8="ngModel" required />
                    <div *ngIf="f.submitted && !growthYear8.valid" class="help-block">Growth rate for all year8 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer3 == 'no'" [ngClass]="{ 'has-error': f.submitted && !inflationForAllYears.valid }">
                    <label for="inflationForAllYears">Please enter inflation rate to be applied to all the years</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="inflationForAllYears" [(ngModel)]="growthAndInflationData.inflationForAllYears" #inflationForAllYears="ngModel" required />
                    <div *ngIf="f.submitted && !inflationForAllYears.valid" class="help-block">Inflation rate for all years is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer3 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !inflationYear1.valid }">
                    <label for="inflationYear1">Please enter inflation rate to be applied to the year 1</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="inflationYear1" [(ngModel)]="growthAndInflationData.inflationYear1" #inflationYear1="ngModel" required />
                    <div *ngIf="f.submitted && !inflationYear1.valid" class="help-block">Inflation rate for year1 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer3 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !inflationYear2.valid }">
                    <label for="inflationYear2">Please enter inflation rate to be applied to the year 2</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="inflationYear2" [(ngModel)]="growthAndInflationData.inflationYear2" #inflationYear2="ngModel" required />
                    <div *ngIf="f.submitted && !inflationYear2.valid" class="help-block">Inflation rate for year2 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer3 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !inflationYear3.valid }">
                    <label for="inflationYear3">Please enter inflation rate to be applied to the year 3</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="inflationYear3" [(ngModel)]="growthAndInflationData.inflationYear3" #inflationYear3="ngModel" required />
                    <div *ngIf="f.submitted && !inflationYear3.valid" class="help-block">Inflation rate for year3 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer3 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !inflationYear4.valid }">
                    <label for="inflationYear4">Please enter inflation rate to be applied to the year 4</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="inflationYear4" [(ngModel)]="growthAndInflationData.inflationYear4" #inflationYear4="ngModel" required />
                    <div *ngIf="f.submitted && !inflationYear4.valid" class="help-block">Inflation rate for year4 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer3 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !inflationYear5.valid }">
                    <label for="inflationYear5">Please enter inflation rate to be applied to the year 5</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="inflationYear5" [(ngModel)]="growthAndInflationData.inflationYear5" #inflationYear5="ngModel" required />
                    <div *ngIf="f.submitted && !inflationYear5.valid" class="help-block">Inflation rate for year5 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer3 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !inflationYear6.valid }">
                    <label for="inflationYear6">Please enter inflation rate to be applied to the year 6</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="inflationYear6" [(ngModel)]="growthAndInflationData.inflationYear6" #inflationYear6="ngModel" required />
                    <div *ngIf="f.submitted && !inflationYear6.valid" class="help-block">Inflation rate for year6 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer3 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !inflationYear7.valid }">
                    <label for="inflationYear7">Please enter inflation rate to be applied to the year 7</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="inflationYear7" [(ngModel)]="growthAndInflationData.inflationYear7" #inflationYear7="ngModel" required />
                    <div *ngIf="f.submitted && !inflationYear7.valid" class="help-block">Inflation rate for year7 is required</div>
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.growthAndInflation == 'yes' && growthAndInflationData.answer3 == 'yes'" [ngClass]="{ 'has-error': f.submitted && !inflationYear8.valid }">
                    <label for="inflationYear8">Please enter inflation rate to be applied to the year 8</label>
                    <i class="fa fa-asterisk text-danger">*</i>
                    <input type="number" class="form-control" name="inflationYear8" [(ngModel)]="growthAndInflationData.inflationYear8" #inflationYear8="ngModel" required />
                    <div *ngIf="f.submitted && !inflationYear8.valid" class="help-block">Inflation rate for year8 is required</div>
                </div>
                <div class="form-group">
                    <button *ngIf="!isDataAvailable && isEdit" [disabled]="loading" class="btn btn-primary" [disabled]="!f.form.valid" (click)="addGrowthAndInflation()">Submit</button>
                    <button *ngIf="isDataAvailable && isEdit" [disabled]="loading" class="btn btn-primary" [disabled]="!f.form.valid" (click)="updateGrowthAndInflation()">Update</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                    <button [disabled]="loading" class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>
            </form>
            <form name="growthAndInflationForm1" #f="ngForm" novalidate *ngIf="isDataAvailable && !isEdit && growthAndInflationData">
                <div class="form-group">
                    <label for="answer1"><b>Do you want to define growth and inflation rates?</b> : </label> {{growthAndInflationData.answer1}}
                </div>
                <div class="form-group">
                    <label for="answer2"><b>Do yo want to define growth rate for each of the projected years?</b> : </label> {{growthAndInflationData.answer2}}
                </div>
                <div class="form-group">
                    <label for="answer3"><b>Do yo want to define inflation rate for each of the projected years?</b> : </label> {{growthAndInflationData.answer3}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer2 == 'no'">
                    <label for="answer3"><b>Please enter growth rate to be applied to all the years </b> : </label> {{growthAndInflationData.growthForAllYears}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer2 == 'yes'">
                    <label for="answer3"><b>Please enter growth rate to be applied to the year 1 </b> : </label> {{growthAndInflationData.growthYear1}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer2 == 'yes'">
                    <label for="answer3"><b>Please enter growth rate to be applied to the year 2 </b> : </label> {{growthAndInflationData.growthYear2}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer2 == 'yes'">
                    <label for="answer3"><b>Please enter growth rate to be applied to the year 3 </b> : </label> {{growthAndInflationData.growthYear3}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer2 == 'yes'">
                    <label for="answer3"><b>Please enter growth rate to be applied to the year 4 </b> : </label> {{growthAndInflationData.growthYear4}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer2 == 'yes'">
                    <label for="answer3"><b>Please enter growth rate to be applied to the year 5 </b> : </label> {{growthAndInflationData.growthYear5}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer2 == 'yes'">
                    <label for="answer3"><b>Please enter growth rate to be applied to the year 6 </b> : </label> {{growthAndInflationData.growthYear6}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer2 == 'yes'">
                    <label for="answer3"><b>Please enter growth rate to be applied to the year 7 </b> : </label> {{growthAndInflationData.growthYear7}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer2 == 'yes'">
                    <label for="answer3"><b>Please enter growth rate to be applied to the year 8 </b> : </label> {{growthAndInflationData.growthYear8}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer3 == 'no'">
                    <label for="answer3"><b>Please enter inflation rate to be applied to all the years </b> : </label> {{growthAndInflationData.inflationForAllYears}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer3 == 'yes'">
                    <label for="answer3"><b>Please enter inflation rate to be applied to the year 1 </b> : </label> {{growthAndInflationData.inflationYear1}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer3 == 'yes'">
                    <label for="answer3"><b>Please enter inflation rate to be applied to the year 2 </b> : </label> {{growthAndInflationData.inflationYear2}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer3 == 'yes'">
                    <label for="answer3"><b>Please enter inflation rate to be applied to the year 3 </b> : </label> {{growthAndInflationData.inflationYear3}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer3 == 'yes'">
                    <label for="answer3"><b>Please enter inflation rate to be applied to the year 4 </b> : </label> {{growthAndInflationData.inflationYear4}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer3 == 'yes'">
                    <label for="answer3"><b>Please enter inflation rate to be applied to the year 5 </b> : </label> {{growthAndInflationData.inflationYear5}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer3 == 'yes'">
                    <label for="answer3"><b>Please enter inflation rate to be applied to the year 6 </b> : </label> {{growthAndInflationData.inflationYear6}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer3 == 'yes'">
                    <label for="answer3"><b>Please enter inflation rate to be applied to the year 7 </b> : </label> {{growthAndInflationData.inflationYear7}}
                </div>
                <div class="form-group" *ngIf="growthAndInflationData.answer1 === 'yes' && growthAndInflationData.answer3 == 'yes'">
                    <label for="answer3"><b>Please enter inflation rate to be applied to the year 8 </b> : </label> {{growthAndInflationData.inflationYear8}}
                </div>
            </form>
        </div>
    </div>
</div>