<div class="container">
    <div class="main-w3layouts-form">
      <form class="form-register" name="clientForm" novalidate>
        <h2 class="form-signin-heading">Please Enter Client Details</h2>
        <div class="form-group">
            <label>Name Prefix</label>
            <input type="radio" name="namePrefix" class="form-group" value="Mr" ng-model="client.namePrefix" required> Mr
            <input type="radio" name="namePrefix" class="form-group" value="Mrs" ng-model="client.namePrefix" required> Mrs
            <input type="radio" name="namePrefix" class="form-group" value="Ms" ng-model="client.namePrefix" required> Ms
            <input type="radio" name="namePrefix" class="form-group" value="M/S" ng-model="client.namePrefix" required> M/S
        </div>
        <div class="form-group" ng-class="{ 'has-error' : clientForm.clientName.$invalid && !clientForm.clientName.$pristine }">
            <label>Name</label>
            <i class="fa fa-asterisk text-danger">*</i>
            <input type="text" name="clientName" class="form-control" ng-model="client.clientName" required>
            <p ng-show="clientForm.clientName.$invalid && !clientForm.clientName.$pristine" class="help-block">Name is required.</p>
        </div>
        <div class="form-group">
            <label>Status</label>
            <input type="radio" name="status" class="form-group" value="Individual" ng-model="client.status" required> Individual
            <input type="radio" name="status" class="form-group" value="Partnership" ng-model="client.status" required> Partnership
        </div>
        <div class="form-group" ng-class="{ 'has-error' : clientForm.doorNumber.$invalid && !clientForm.doorNumber.$pristine }">
            <label>Address Door No/Building Name</label>
            <i class="fa fa-asterisk text-danger">*</i>
            <input type="text" name="doorNumber" class="form-control" ng-model="client.doorNumber" required>
            <p ng-show="clientForm.doorNumber.$invalid && !clientForm.doorNumber.$pristine" class="help-block">Door No/Building Name is required.</p>
        </div>
        <div class="form-group">
            <label>Address Road</label>
            <input type="text" name="address" class="form-control" ng-model="client.roadNumber">
        </div>
        <div class="form-group">
            <label>Address Locality</label>
            <input type="text" name="address1" class="form-control" ng-model="client.locality">
        </div>
        <div class="form-group">
            <label>Address Land Mark</label>
            <input type="text" name="address2" class="form-control" ng-model="client.landmark">
        </div>
        <div class="form-group">
            <label>Town</label>
            <input type="text" name="town" class="form-control" ng-model="client.town">
        </div>
        <div class="form-group" ng-class="{ 'has-error' : clientForm.pincode.$invalid && !clientForm.pincode.$pristine }">
            <label>Pincode</label>
            <i class="fa fa-asterisk text-danger">*</i>
            <input type="number" name="pincode" class="form-control" ng-model="client.pincode" minlength="7" maxlength="7">
            <p ng-show="clientForm.pincode.$invalid && !clientForm.pincode.$pristine" class="help-block">Pincode is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : clientForm.state.$invalid && !clientForm.state.$pristine }">
            <label>State</label>
            <i class="fa fa-asterisk text-danger">*</i>
            <select class="form-control" name="state" ng-model="client.state">
              <option value="-1">Select State</option>
              <option ng-repeat="state in client.states">{{state}}</option>
            </select>
            <p ng-show="clientForm.state.$invalid && !clientForm.state.$pristine" class="help-block">State is required.</p>
        </div>
        <div class="form-group">
            <label>Land Phone</label>
            <input type="text" name="landPhone" class="form-control" ng-model="client.landPhone">
        </div>
        <div class="form-group" ng-class="{ 'has-error' : clientForm.mobile.$invalid && !clientForm.mobile.$pristine }">
            <label>Mobile Phone</label>
            <i class="fa fa-asterisk text-danger">*</i>
            <input type="number" name="mobile" class="form-control" ng-model="client.mobile" minlength="10" maxlength="10">
            <p ng-show="clientForm.mobile.$invalid && !clientForm.mobile.$pristine" class="help-block">Mobile Phone is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : clientForm.email.$invalid && !clientForm.email.$pristine }">
            <label>Email address</label>
            <i class="fa fa-asterisk text-danger">*</i>
            <input type="email" name="email" class="form-control" ng-model="client.email" required>
            <p ng-show="clientForm.email.$invalid && !clientForm.email.$pristine" class="help-block">Email is required.</p>
        </div>
        <div class="form-group">
            <label>Line of Activity</label>
            <input type="radio" name="LOA" class="form-group" value="Manufacturing" ng-model="client.LOA" required> Manufacturing
            <input type="radio" name="LOA" class="form-group" value="Service" ng-model="client.LOA" required> Service
        </div>
        <div class="form-group" ng-class="{ 'has-error' : clientForm.dotLoan.$invalid && !clientForm.dotLoan.$pristine }">
            <label>Date of first Disbursement Term Loan</label>
            <i class="fa fa-asterisk text-danger">*</i>
            <input type="date" name="dotLoan" class="form-control" ng-model="client.dotLoan" required>
            <p ng-show="clientForm.dotLoan.$invalid && !clientForm.dotLoan.$pristine" class="help-block">Date of first Disbursement Term Loan is required.</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="clientForm.$invalid" ng-click="submit()">Add Client</button>
      </form>
    </div>
    </div>