<div class="container pageFit">
    <div class="row">
        <h5 class="col-lg-12 col-sm-12 col-xs-12 form-signin-heading">You are viewing the details of : {{client.name}}</h5>
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{ tabStyle: isSet(1), tabStyleNone : !isSet(1) }">
                    <a href ng-click="setTab(1)">Profile</a>
                </li>
                <li ng-class="{ tabStyle: isSet(2), tabStyleNone : !isSet(2) }">
                    <a href ng-click="setTab(2)">Assets</a>
                </li>
                <li ng-class="{ tabStyle: isSet(3), tabStyleNone : !isSet(3) }">
                    <a href ng-click="setTab(3)">Expences</a>
                </li>
                <li ng-class="{ tabStyle: isSet(4), tabStyleNone : !isSet(4) }">
                    <a ng-click="setTab(4)" href="#/dashboard">Back</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="jumbotron">
                <div ng-show="isSet(1)">
                    <form class="form-register" name="clientForm" novalidate style="margin-top:-50px;">
                        <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-success" ng-if="successMessagebool ">
                            <strong>{{successMessage }}</strong>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-danger" ng-if="errorMessagebool">
                            <strong>{{errorMessage }}</strong>
                        </div>
                        <div class="row">
                            <h5 class="col-lg-6 col-sm-6 col-xs-6 form-signin-heading">You are viewing the details of : {{client.name}}</h5>
                            <!-- <span class="col-lg-6 col-sm-6 col-xs-6 form-signin-heading pull-right"><a href="" class="pull-right">click here to update</a></span> -->
                        </div>
                        <div class="form-group">
                            <label><b>Salutation</b></label>
                            <input type="radio" name="namePrefix" class="form-group" value="Mr" ng-model="client.namePrefix" required> Mr
                            <input type="radio" name="namePrefix" class="form-group" value="Mrs" ng-model="client.namePrefix" required> Mrs
                            <input type="radio" name="namePrefix" class="form-group" value="Ms" ng-model="client.namePrefix" required> Ms
                            <input type="radio" name="namePrefix" class="form-group" value="M/S" ng-model="client.namePrefix" required> M/S
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : clientForm.name.$invalid && !clientForm.name.$pristine }">
                            <label><b>Name of the Client</b></label>
                            <i class="fa fa-asterisk text-danger">*</i>
                            <input type="text" name="name" class="form-control" ng-model="client.name" required>
                            <p ng-show="clientForm.name.$invalid && !clientForm.name.$pristine" class="help-block">Name is required.</p>
                        </div>
                        <div class="form-group">
                            <label><b>Client Status</b></label>
                            <input type="radio" name="status" class="form-group" value="Propreitorship" ng-model="client.status" required> Propreitorship
                            <input type="radio" name="status" class="form-group" value="Partnership" ng-model="client.status" required> Partnership
                            <input type="radio" name="status" class="form-group" value="LmtCompany" ng-model="client.status" required> Limited Company
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : clientForm.doorNo.$invalid && !clientForm.doorNo.$pristine }">
                            <label><b>Door No</b></label>
                            <i class="fa fa-asterisk text-danger">*</i>
                            <input type="text" name="doorNo" class="form-control" ng-model="client.doorNo" required>
                            <p ng-show="clientForm.doorNo.$invalid && !clientForm.doorNo.$pristine" class="help-block">Door No/Building Name is required.</p>
                        </div>
                        <div class="form-group">
                            <label><b>Road</b></label>
                            <input type="text" name="address" class="form-control" ng-model="client.road">
                        </div>
                        <div class="form-group">
                            <label><b>Locality</b></label>
                            <input type="text" name="address1" class="form-control" ng-model="client.locality">
                        </div>
                        <div class="form-group">
                            <label><b>Land Mark</b></label>
                            <input type="text" name="address2" class="form-control" ng-model="client.landmark">
                        </div>
                        <div class="form-group">
                            <label><b>Town</b></label>
                            <input type="text" name="town" class="form-control" ng-model="client.town">
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : clientForm.pincode.$invalid && !clientForm.pincode.$pristine }">
                            <label><b>Pincode</b></label>
                            <i class="fa fa-asterisk text-danger">*</i>
                            <input type="number" name="pincode" class="form-control" ng-model="client.pincode" minlength="7" maxlength="7">
                            <p ng-show="clientForm.pincode.$invalid && !clientForm.pincode.$pristine" class="help-block">Pincode is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : clientForm.state.$invalid && !clientForm.state.$pristine }">
                            <label><b>State</b></label>
                            <i class="fa fa-asterisk text-danger">*</i>
                            <select class="form-control" name="state" ng-model="client.state">
                            <option value="-1">Select State</option>
                            <option ng-repeat="state in states">{{state}}</option>
                        </select>
                            <p ng-show="clientForm.state.$invalid && !clientForm.state.$pristine" class="help-block">State is required.</p>
                        </div>
                        <div class="form-group">
                            <label><b>Land Phone</b></label>
                            <input type="text" name="landphone" class="form-control" ng-model="client.landphone">
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : clientForm.mobile.$invalid && !clientForm.mobile.$pristine }">
                            <label><b>Mobile Number</b></label>
                            <i class="fa fa-asterisk text-danger">*</i>
                            <input type="number" name="mobile" class="form-control" ng-model="client.mobile" minlength="10" maxlength="10">
                            <p ng-show="clientForm.mobile.$invalid && !clientForm.mobile.$pristine" class="help-block">Mobile Phone is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : clientForm.email.$invalid && !clientForm.email.$pristine }">
                            <label><b>Email Address</b></label>
                            <i class="fa fa-asterisk text-danger">*</i>
                            <input type="email" name="email" class="form-control" ng-model="client.email" required>
                            <p ng-show="clientForm.email.$invalid && !clientForm.email.$pristine" class="help-block">Email is required.</p>
                        </div>
                        <div class="form-group">
                            <label><b>Industry</b></label>
                            <input type="radio" name="lineofactivity" class="form-group" value="Manufacturing" ng-model="client.lineofactivity" required> Manufacturing
                            <input type="radio" name="lineofactivity" class="form-group" value="Service" ng-model="client.lineofactivity" required> Service
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : clientForm.dateoffirstditributionoftermloan.$invalid && !clientForm.dateoffirstditributionoftermloan.$pristine }">
                            <label><b>Anticipated date of first disbursement of proposed Term Loan</b></label>
                            <i class="fa fa-asterisk text-danger">*</i>
                            <input type="date" name="dateoffirstditributionoftermloan" class="form-control" datetime="yyyy/MM/dd HH:mm:ss" ng-model="client.dateoffirstditributionoftermloan" required>
                            <p ng-show="clientForm.dateoffirstditributionoftermloan.$invalid && !clientForm.dateoffirstditributionoftermloan.$pristine" class="help-block">Date of first Disbursement Term Loan is required.</p>
                        </div>
                        <div class="row">
                            <button class="btn btn-lg btn-primary btn-block col-md-5" type="submit" ng-disabled="clientForm.$invalid" ng-click="updateClient()">Update</button>
                            <!-- <span class="col-md-2">&nbsp;</span>
                        <button class="btn btn-lg btn-primary btn-block col-md-5" type="submit" ng-click="cancel()">Cancel</button> -->
                        </div>
                        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="clientForm.$invalid" ng-click="submit()">Add Client</button> -->
                    </form>
                </div>
                <!--*Asset Input screen*-->
                <div ng-show="isSet(2)">
                    <span ng-show="!showAssetForm">You don't have any Assets for this client. Please add the Assets.</span>
                    <button class="btn btn-primary pull-right" ng-click="addAsset()">Add Asset</button>
                    <form ng-show="showAssetForm" class="form-signin" name="assetForm" ng-submit="submit()" novalidate>
                        <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-success" ng-if="successMessagebool ">
                            <strong>{{successMessage }}</strong>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-danger" ng-if="errorMessagebool">
                            <strong>{{errorMessage }}</strong>
                        </div>
                        <h5 class="form-signin-heading">Please Enter the Asset Details</h5>
                        <div class="form-group" ng-class="{ 'has-error' : assetForm.name.$invalid && !assetForm.name.$pristine }">
                            <label>Name of the Asset</label>
                            <input type="text" name="name" class="form-control" ng-model="asset.name" required>
                            <p ng-show="assetForm.name.$invalid && !assetForm.name.$pristine" class="help-block">Name of the Asset is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : assetForm.value.$invalid && !assetForm.value.$pristine }">
                            <label>Value of the Asset</label>
                            <input type="number" name="value" class="form-control currency" ng-model="asset.value" required>
                            <p ng-show="assetForm.value.$invalid && !assetForm.value.$pristine" class="help-block">Value of the Asset is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : assetForm.depreciationRate.$invalid && !assetForm.depreciationRate.$pristine }">
                            <label>Depreciation Rate</label>
                            <input type="number" name="depreciationRate" class="form-control" ng-model="asset.depreciationRate" required min="0" max="100" step="0.01">
                            <p ng-show="assetForm.depreciationRate.$invalid && !assetForm.depreciationRate.$pristine" class="help-block">Depreciation Rate required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : assetForm.promoterMargin.$invalid && !assetForm.promoterMargin.$pristine }">
                            <label>Margin Rate</label>
                            <input type="number" name="promoterMargin" class="form-control" ng-model="asset.promoterMargin" required min="0" max="100" step="0.01">
                            <p ng-show="assetForm.promoterMargin.$invalid && !assetForm.promoterMargin.$pristine" class="help-block">Margin Rate required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : assetForm.aaa.$invalid && !assetForm.aaa.$pristine }">
                            <label>Add another Asset?</label>
                            <input type="radio" name="aaa" class="form-group" value="1" ng-model="asset.aaa" required ng-selected> Yes
                            <input type="radio" name="aaa" class="form-group" value="2" ng-model="asset.aaa" required> No
                            <p ng-show="assetForm.profession.$invalid && !assetForm.profession.$pristine" class="help-block">Profession is required.</p>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="assetForm.$invalid" ng-click="saveAsset()">Add Asset</button>
                    </form>
                </div>
                <div ng-show="isSet(3)">
                    <h1>Messages</h1>
                    <p> Some messages </p>
                </div>
            </div>
        </div>
    </div>