<div class="container pageFit">
    <div class="row">
        <h5 class="col-lg-12 col-sm-12 col-xs-12 form-signin-heading">You are viewing the details of : {{client.name}}</h5>
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{ tabStyle: isSet(1), tabStyleNone : !isSet(1) }">
                    <a href ng-click="setTab(1)">Profile</a>
                </li>
                <li ng-class="{ tabStyle: isSet(5), tabStyleNone : !isSet(5) }">
                    <a href ng-click="setTab(5)">Basic Data</a>
                </li>
                <li ng-class="{ tabStyle: isSet(2), tabStyleNone : !isSet(2) }">
                    <a href ng-click="setTab(2)">Assets</a>
                </li>
                <li ng-class="{ tabStyle: isSet(3), tabStyleNone : !isSet(3) }">
                    <a href ng-click="setTab(3)">Expences</a>
                </li>
                <li ng-class="{ tabStyle: isSet(4), tabStyleNone : !isSet(4) }">
                    <a ng-click="setTab(4)" href="#/dashboard">Back</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="jumbotron">
                <div ng-show="isSet(1)">
                    <update-client></update-client>
                </div>
                <!--*Asset Input screen*-->
                <div ng-show="isSet(2)">
                    <asset-input></asset-input>
                </div>
                <div ng-show="isSet(3)">
                    <h1>Messages</h1>
                    <p> Some messages </p>
                </div>
                <div ng-show="isSet(5)">
                    <form class="form-signin" name="basicForm" ng-submit="submit()" novalidate>
                        <h2 class="form-signin-heading">Please Enter the Basic Details</h2>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.nob.$invalid && !basicForm.nob.$pristine }">
                            <label>Name of the Business</label>
                            <input type="text" name="nob" class="form-control" ng-model="basic.nob" required>
                            <p ng-show="basicForm.nob.$invalid && !basicForm.nob.$pristine" class="help-block">Name of the Business is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.fdd.$invalid && !basicForm.fdd.$pristine }">
                            <label>Term Loan First Disbursement Date</label>
                            <input type="date" name="fdd" class="form-control" ng-model="basic.fdd" required>
                            <p ng-show="basicForm.fdd.$invalid && !basicForm.fdd.$pristine" class="help-block">Term Loan First Disbursement Date required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.bcd.$invalid && !basicForm.bcd.$pristine }">
                            <label>Business Commencement Date</label>
                            <input type="date" name="bcd" class="form-control" ng-model="basic.bcd" required>
                            <p ng-show="basicForm.bcd.$invalid && !basicForm.bcd.$pristine" class="help-block">Business Commencement Date required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.ttl.$invalid && !basicForm.ttl.$pristine }">
                            <label>Tenure of Term Loan</label>
                            <input type="number" name="ttl" class="form-control" ng-model="basic.ttl" required min="0" max="240">
                            <p ng-show="basicForm.ttl.$invalid && !basicForm.ttl.$pristine" class="help-block">Tenure of Term Loan required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.moratorium.$invalid && !basicForm.moratorium.$pristine }">
                            <label>Moratorium</label>
                            <input type="number" name="moratorium" class="form-control" ng-model="basic.moratorium" required min="0" max="240">
                            <p ng-show="basicForm.moratorium.$invalid && !basicForm.moratorium.$pristine" class="help-block">Tenure of Term Loan required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.ircc.$invalid && !basicForm.ircc.$pristine }">
                            <label>Interest Rate for CC</label>
                            <input type="number" name="ircc" class="form-control" ng-model="basic.ircc" required min="0" max="240" step="0.01">
                            <p ng-show="basicForm.ircc.$invalid && !basicForm.ircc.$pristine" class="help-block">Interest Rate for CC required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.pd.$invalid && !basicForm.pd.$pristine }">
                            <label>Payment Date</label>
                            <input type="number" name="pd" class="form-control" ng-model="basic.pd" required min="0" max="240">
                            <p ng-show="basicForm.pd.$invalid && !basicForm.pd.$pristine" class="help-block">Payment Date required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.status.$invalid && !basicForm.status.$pristine }">
                            <label>Status</label>
                            <select class="form-control" name="status" ng-model="basic.status">
                                      <option value="-1">Select Status</option>
                                      <option value="1">Propreitorship</option>
                                      <option value="2">Partnership</option>
                                      <option value="3">Private Limited Company</option>
                                    </select>
                            <p ng-show="basicForm.status.$invalid && !basicForm.status.$pristine" class="help-block">State is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.cca.$invalid && !basicForm.cca.$pristine }">
                            <label>Cash Credit Amount Required</label>
                            <input type="number" name="cca" class="form-control" ng-model="basic.cca" required min="0">
                            <p ng-show="basicForm.cca.$invalid && !basicForm.cca.$pristine" class="help-block">Cash Credit Amount Required required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.fepm.$invalid && !basicForm.fepm.$pristine }">
                            <label>Fixed Expenses Per Month</label>
                            <input type="number" name="fepm" class="form-control" ng-model="basic.fepm" required min="0">
                            <p ng-show="basicForm.fepm.$invalid && !basicForm.fepm.$pristine" class="help-block">Fixed Expenses Per Month required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.nodiam.$invalid && !basicForm.nodiam.$pristine }">
                            <label>Number of Days in a Month</label>
                            <input type="number" name="nodiam" class="form-control" ng-model="basic.nodiam" required min="0">
                            <p ng-show="basicForm.nodiam.$invalid && !basicForm.nodiam.$pristine" class="help-block">Number of Days in a Month required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : basicForm.ppm.$invalid && !basicForm.ppm.$pristine }">
                            <label>Production Per Month(in units)</label>
                            <input type="number" name="ppm" class="form-control" ng-model="basic.ppm" required min="0" max="240" step="0.01">
                            <p ng-show="basicForm.ppm.$invalid && !basicForm.ppm.$pristine" class="help-block">Production Per Month(in units) required.</p>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="basicForm.$invalid">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>