
    <div class="container-fluid">
      <div class="row alignment_body">
        <div class="col-sm-12 col-xs-12 col-md-12 main">
          
          <span ng-if="(clients | json) == '{}'">You don't have any clients. Please add the client.</span>
          <button class="btn btn-primary pull-right" ng-click="addClient()">Add Client</button>
          <h2 class="sub-header" ng-if="clients.length > 0">List Of Clients</h2>
          <div ng-if="clients.length > 0" ui-grid="gridOptions" external-scopes="$scope" ui-grid-pagination class="myGrid"></div>
        </div>
      </div>
    </div>