<app-header></app-header>
<div class="container">
    <h2 class="view-header col-sm-10 col-md-10 col-xs-10 col-lg-10 vertical-line">
        <strong>Shell Contract Bulk Upload</strong>
    </h2>
    <app-tabset class="col-sm-10 col-md-10 col-xs-10 col-lg-10 vertical-line tabset">
        <app-tab tabTitle="Upload New" [contentRef]="bulkUploadNewComponent"></app-tab>
        <app-tab tabTitle="History" [contentRef]="bulkUploadHistoryComponent"></app-tab>
    </app-tabset>
</div>
<app-footer></app-footer>