<app-header></app-header>
<div class="container">
    <h2 class="view-header col-sm-12 col-md-12 col-xs-12 col-lg-12 vertical-line">
        <h4>You are viwing the details of : {{data.name}}</h4>
    </h2>
    <app-tabset class="col-sm-12 col-md-12 col-xs-12 col-lg-12 vertical-line tabset">
        <app-tab tabTitle="Basic Info" [contentRef]="basicInfoComponent"></app-tab>
        <app-tab tabTitle="Assets" [contentRef]="bulkUploadHistoryComponent"></app-tab>
    </app-tabset>
</div>
<app-footer></app-footer>